
<div uib-alert ng-class="'alert-'+add_relation_alert.type" ng-show="add_relation_alert!=null"> {{add_relation_alert.msg}} </div>

<form class="form-horizontal">
	<div class="form-group form-group-lg">
		<label class="col-lg-5 control-label">
			Director Name
		</label>
		<div class="col-sm-2" >
			<input class="form-control" type="text" placeholder="Use search for director" ng-model="director_info ? director_info.first + ' ' + director_info.last : '' " readonly>
		</div>
	</div>
	<div class="form-group form-group-lg">
		<label class="col-sm-5 control-label">
			Movie Name
		</label>
		<div class="col-sm-2" >
			<input class="form-control" type="text" placeholder="Use search for movie" ng-model="movie_info? movie_info.title + '(' + movie_info.year +')' : '' " readonly>
		</div>
	</div>
	
	<div class="form-group form-group-lg">
		<div class="col-sm-offset-4 col-sm-3" >
			<button type="submit" ng-click="add_relation()" class="btn btn-primary btn-lg btn-block"> Add relation </button>
		</div>
	</div>
</form>

<hr>

<div class = "container">
	<div class="col-lg-6">
		<form class="form-inline text-center">
			<div class="form-group form-group-lg">
		  		<input type=text class="form-control" placeholder="Keyword" ng-model="director_keyword">
			</div>
			<button type="submit" class="btn btn-info btn-lg" ng-click="search_director()">Search Director</button>
		</form>
		
		<div class="form-group form-group-lg" uib-alert ng-class="'alert-warning'" ng-show="searched_director_keyword!=null&&directors==null"> 
			No directors match {{searched_director_keyword}} 
		</div>
		
		<table class="table table-striped" ng-show="directors!=null">
			<h2 ng-show="directors!=null" class="text-center"> Directors containing {{searched_director_keyword}} </h2>
			<thead>
			<tr>
				<th>Name</th>
				<th>Date of birth</th>
				<th>Date of death</th>
			</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in directors">
					<td><a href ng-click="select_director($index)">{{row.first + " " + row.last}}</a></td>
					<td>{{row.dob}}</td>
					<td>{{row.dod}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="col-md-6">
		<form class="form-inline text-center">
			<div class="form-group form-group-lg">
		  		<input type=text class="form-control" placeholder="keyword" ng-model="movie_keyword">
			</div>
			<button type="submit" class="btn btn-info btn-lg" ng-click="search_movie()">Search Movie</button>
		</form>
	
		<div uib-alert ng-class="'alert-warning'" ng-show="searched_movie_keyword!=null&&movies==null"> 
			No movies match {{searched_movie_keyword}} 
		</div>
		
		<table class="table table-striped" ng-show="movies!=null">
			<h2 ng-show="movies!=null" class="text-center"> Movies containing {{searched_movie_keyword}}</h2>
			<thead>
			<tr>
				<th>Title</th>
				<th>Year</th>
				<th>Rating</th>
				<th>Company</th>
			</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in movies">
					<td><a href ng-click="select_movie($index)">{{row.title}}</a></td>
					<td>{{row.year}}</td>
					<td>{{row.rating}}</td>
					<td>{{row.company}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</form>
